        @font-face {
            font-family: 'Landa';
            src: url('./fonts/LandasansMedium-ALJ6m.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'Nebulous';
            src: url('./fonts/NebulousRegular-54aV.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        html {
            font-size: 62.5%;
        }
        
        body {
            font-family: 'Landa';
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        h1 {
            font-size: 10rem;
            font-family: 'Nebulous';
            color: #cccccc;
        }
        
        h5 {
            font-weight: bold;
            font-size: 4rem;
        }
        
        p {
            font-size: 2rem;
            text-align: justify;
        }
        
        a {
            color: #ccc;
            z-index: 0;
            transition: .6s color;
        }
        
        a:hover {
            text-decoration: none;
            color: #888;
        }
        
        .background {
            position: fixed;
            height: 100%;
            width: 100%;
            background-image: url("img/background.jpg");
            z-index: -1;
        }
        
        .img-shadow {
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 100%;
        }
        
        .instagram:hover {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            -webkit-background-clip: text;
            color: transparent;
        }
        
        .facebook:hover {
            background: #3b5998;
            -webkit-background-clip: text;
            color: transparent;
        }
        /* nav */
        
        .navbar {
            background-color: rgba(0, 0, 0, .8);
            color: #ccc;
            letter-spacing: .4rem;
        }
        
        .navbar span {
            font-size: 8rem;
            align-items: center;
            letter-spacing: .5rem;
            color: white;
        }
        
        .navbar a {
            text-align: center;
            font-size: 3rem;
            color: #ccc;
            transition: .4s;
            position: relative;
        }
        
        .navbar .active {
            color: #fff;
        }
        
        .navbar a:hover {
            color: #262626;
        }
        
        a:hover .Anim {
            transform: scaleY(1);
        }
        
        .Anim {
            position: absolute;
            padding: 0px;
            margin: 0px;
            top: 0;
            left: 0;
            background-color: #eeeeee;
            height: 100%;
            width: 25%;
            transform-origin: top;
            transition: 0.6s transform;
            transform: scaleY(0);
            z-index: -1;
        }
        
        .Anim:nth-of-type(2) {
            left: 25%;
            transition-delay: 0.15s;
        }
        
        .Anim:nth-of-type(3) {
            left: 50%;
            transition-delay: 0.3s;
        }
        
        .Anim:nth-of-type(4) {
            left: 75%;
            transition-delay: .45s;
        }
        /* TopBanner */
        
        #TopBanner {
            color: #ccc;
            height: 100vh;
            /* background-image: url(img/background.jpg); */
            background-position: center;
            background-size: cover;
        }
        
        #TopBanner h1 {
            font-size: 14rem;
        }
        
        #TopBanner h4 {
            font-family: 'Nebulous';
            font-size: 8rem;
        }
        
        #TopBanner .quotation a {
            text-decoration: none;
            font-size: 2.3rem;
            letter-spacing: 0.7rem;
            font-weight: bold;
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
        
        #TopBanner .quotation span {
            font-style: italic;
            color: #B00000;
        }
        
        #TopBanner a {
            font-size: 10rem;
        }
        /* About */
        
        #about {
            margin-top: 5rem;
            margin-bottom: 5rem;
            color: #cccccc;
        }
        
        #about .picture {
            position: relative;
            background-image: url(/img/Mariusz.PNG);
        }
        
        #about .picture::before {
            position: absolute;
            content: "";
            top: 5rem;
            left: 5rem;
            width: 100%;
            height: 100%;
            background-color: #cccccc;
            z-index: -1;
        }
        /* training */
        
        #training a {
            font-size: 2rem;
            color: white;
            background-color: #B00000;
        }
        /* Opinion */
        
        #opinion h2 {
            font-size: 4rem;
            margin-bottom: 0px;
        }
        
        #opinion i {
            color: #FFdF00;
            font-size: 3rem;
        }
        
        #opinion a:hover {
            color: white;
        }
        
        #fb-sum {
            background-color: rgba(26, 26, 26, 0.6);
        }
        
        #goo-sum {
            background-color: rgba(26, 26, 26, 0.6);
        }
        
        #fb-sum:hover {
            background-color: #3b5998;
        }
        
        #goo-sum:hover {
            background-image: linear-gradient(-120deg, #4285f4, #34A853, #fbbc05, #ea4335);
        }
        
        #opinion .comment img {
            height: 13vw;
            width: 13vw;
        }
        /* Article */
        
        .fb-post {
            height: 100% !important;
            display: flex !important;
            align-items: center;
        }
        
        .fb-post>span {
            max-width: 100%;
        }
        
        .fb-post iframe {
            border: 0;
            display: block;
            margin: auto;
            max-width: 100%;
        }
        
        .slick-track {
            display: flex;
        }
        
        .slick-carousel .card {
            height: inherit;
        }
        
        .slick-carousel .card .card-body {
            height: 100%;
        }
        /* Contact */
        
        #contact {
            color: #cccccc;
        }
        
        #contact span {
            font-size: 5rem;
            text-align: justify;
        }
        /* footer */
        
        footer {
            background-color: black;
            color: white;
            font-size: 3rem;
        }
        
        @media(max-width: 992px) {
            html {
                font-size: 30%;
            }
            .navbar a {
                font-size: 5rem;
            }
            #TopBanner .quotation {
                height: 10vh;
            }
            #TopBanner .header {
                height: 80vh;
            }
            #TopBanner .social-media {
                height: 10vh;
            }
            #TopBanner .quotation a {
                writing-mode: initial;
                text-orientation: initial;
            }
            #TopBanner .social-media a {
                letter-spacing: normal;
            }
            #about .picture::before {
                display: none;
            }
            #about .text p {
                font-size: 4rem;
            }
        }